<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap(cssとjs)をCDNで読み込む ※/css/style.cssのみオリジナルのcss -->
	<link rel="stylesheet" href="webjars/bootstrap/4.5.2/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<script src="webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="webjars/jquery/3.5.1/jquery.min.js"></script>

	<title>営業管理App</title>
</head>
<hr />
<!--/* 情報 */-->
<div class="info">
	<footer>
		<address>
			<ul class="sns">
				<li class="github">
					<!--/* github */-->
					<a href="https://github.com/kakusan0" target="_blank" rel="noopener noreferrer">
						<img style="width: 50px;"
							src="https://developer.mozilla.org/static/media/github-mark-small.348586b8904b950b8ea8.svg"
							alt="mdnの画像を使用" />
					</a>
				</li>
				<li class="mail">
					<!--/* メール */-->
					<a href="mailto:gmakihiro@gmail.com" target="_blank" rel="noopener noreferrer"><img
							src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_1x_r5.png"
							alt="google gmailから取得"></a>
				</li>
			</ul>
		</address>
	</footer>
</div>

</html>